*{
    outline: auto;
}

body{
    background-color: lightblue;
    padding: 5px 11%;
}

.main{
    background-color: rgb(67, 129, 150);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    
}

.zero{
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    flex-grow: 0.2;
    
}

.one{
    background-color: orange;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.one-one{
display: flex;
justify-content: flex-start;
outline: auto;
flex-grow: 1;
height: 50%
}

.one-two{
 display: flex;
 justify-content: center;
 align-items: center;
 outline: auto;
 flex-grow: 1;
 height: 50%;
}

.two{
    background-color: yellow;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.two-one{

}

.two-two{
display: flex;
}

.three{
    background-color: lightgreen;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.four{
    
    background-color: rgb(80, 80, 253);
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.four-one{
    flex-grow: 0.5;
}
.five{
    background-color: purple;
    flex-grow: 0.1;
    display: flex;
    justify-content: center;
}